
/* Commands Page Boxes */
.box{
    background-color: #232529;
}

/* Commands Boxes */
.comamnds-box{
    background-color: #2f3136;
    animation: slide_up 1.5s ease 0.05s;
}
.commands-main-menu{
    animation: fadeEffect 2s;
    color: #2f3136 !important;
}
.commands-span-color{
    animation: fadeEffect 1s;
    background-color: #232529 !important;
}
.commands-span-color:hover{
    background-color: #232529 !important;
    color: #485fc7 !important;
    cursor: pointer;
}

/* Commands Drop Down arrow */
summary { 
    list-style-image: url(/Assets/svgs/angle-down-solid.svg);
    list-style-position: inside;
    list-style-type: square;
    /* list-style: image-set(url(/Assets/svgs/angle-down-solid.svg) 100x); */
    color: #ffffff
}
/* Commands Drop Down */
.is-selected-option{
    background-color: #485fc7;
}
.on-hover-color:hover:not(.is-active){
    background-color: #485fc7;
}


@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slide_up {
    0% { transform: translateY(50px); }
    100% { transform: translateY(0); }
}
