:root {
    --positionColor: #dbdada20;
    --rw-color: #95a5a6
}
.section {
    margin: 0 20px !important;
}
.card{
    background-color: #232529 !important;
}
.box {
    background-color: #232529;
}
.banner {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    /* width: 83vw;  */
    margin-top: 30px;
    margin-bottom: 80px;
}
.banner h1{
    margin-left: 15px;
    margin-right: 15px;
}
.input {
    background-color: #232529;
    color: white !important;
}
::placeholder {
    color: white !important;
}
.info-box p{
    color: #ccc6c6 !important;
}
.info-box hr {
    margin: 15px 0;
}
.info-box h1 {
    font-weight: bold;
    font-size: 20px !important;
    text-align: center;
}
.info-box span {
    background-color: #2f3136;
}
.lb-data {
    display: flex;
}
.box hr {
    background-color: #464850 !important;
}
.data-start {
    display: flex;
    flex-direction: start;
    width: 100% !important;
}
.data-start h1 {
    margin: 10px;
    font-weight: bold;
    font-size: 21px !important;
}
.data-start h2 {
    margin: 10px;
    font-weight: bold;
    /* font-size: 20px !important; */
}
.lb-position {
    background-color: var(--positionColor);
    border-radius: 100% !important;
    width: 2.3rem !important;
    height: 2.3rem !important;
    font-size: 23px !important;
    display: flex;
    justify-content: center !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
}
.data-end {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
.data-end h1 {
    margin: 0 20px 0 20px;
    font-weight: bold;
}
.data-end p {
    font-size: 18px !important;
}
.pfp {
    margin: 2px;
}
.lb-rw {
    background-color: var(--rw-color) !important;
    color: #fff !important;
}