.navbar, .navbar-dropdown ,.navbar-menu{
    background-color: #232529;
}

.navbar-link, .navbar-item{
    color: white;
}

/* Nav Bar Colors - Start  */
.bd-navbar-item:hover{
    border-radius:.200em;
    color: #ffffff !important
}
.bd-navbar-item:hover:not(.is-active){
    background-color: #485fc773 !important
}
/* Nav Bar Colors - End */

/* Navbar-Mobile - Burger  - Start */
.navbar-burger{
    color: white;
}
.navbar-burger:hover{
    border-radius: .200em;
    color: white;
    background-color: #485fc773;
}
/* Navbar-Mobile - Burger  - End */


/* Body - Start*/
body{
    color: white;
    background-color: #2f3136;
    background-image: linear-gradient(to top, #232529, #2f3136, #2f3136);
}

.subtitle, .white-bold, .title{
    color: white;
}
#online-bold{
    color: white;
}

/* Commands Page Boxes */
.box{
    background-color: #232529;
}

/* Commands Boxes */
.comamnds-box{
    background-color: #2f3136;
    animation: slide_up 1.5s ease 0.05s;
}
.commands-main-menu{
    animation: fadeEffect 2s;
    color: #2f3136 !important;
}
.commands-span-color{
    animation: fadeEffect 1s;
    background-color: #232529 !important;
}
.commands-span-color:hover{
    background-color: #232529 !important;
    color: #485fc7 !important;
    cursor: pointer;
}
/* Commands Drop Down */
.is-selected-option{
    background-color: #485fc7;
}
.on-hover-color:hover:not(.is-active){
    background-color: #485fc7;
}

/* Footer */
footer{
    background-color: #232529;
}

.footer{
    color: white;
    background-color: transparent;
}
.footer-dark-line{
    background-color: #232529   ;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slide_up {
    0% { transform: translateY(50px); }
    100% { transform: translateY(0); }
}


/* Scroll Bar */
::-webkit-scrollbar {
    width: 6px;
    /* To Hide Scroll Bar UnComment the below line */
    /* display: none;  */
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #2f3136; 
    border-radius: .200em;    
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #232529;
    border-radius: .200em;
    border: 2px #232529;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #485fc7; 
}

/* Mobile Screen Responsiveness - Navbar */
@media screen and (max-width: 1023px){
    .navbar{
        text-align: -webkit-center;
    }
    .nav-end{
        display: inline-flex;
    }
}