html {
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color: #2f3136;
    background-image: linear-gradient(to top, #232529, #2f3136, #2f3136);
    width: 100vw;
}
a:hover {
    color: #5978ff;
}
/* Body - End*/

.navbar, .navbar-dropdown ,.navbar-menu{
    background-color: #232529;
}

.navbar-link, .navbar-item{
    color: white;
}

/* Nav Bar Colors - Start  */
.bd-navbar-item:hover{
    border-radius:.200em;
    color: #ffffff !important
}
.bd-navbar-item:hover:not(.is-active){
    background-color: #2f323d73 !important
}
.bd-navbar-item {
    position: relative;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
    transition: all .35s ease;
}
.bd-navbar-item:hover {
    color: yellow;   
}
.bd-navbar-item:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}   
.bd-navbar-item::before {
    content: ""; 
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #485FC7;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s; 
    transition: all 0.3s ease-in-out 0s; 
}   
/* Nav Bar Colors - End */

/* Navbar-Mobile - Burger  - Start */
.navbar-burger{
    color: white;
}
.navbar-burger:hover{
    border-radius: .200em;
    color: white;
    background-color: #485fc773;
}
/* Navbar-Mobile - Burger  - End */



.subtitle, .white-bold, .title{
    color: white;
}


/* Footer */
.footer {
    font: var(--subtitle-font-bold) !important;
    background-color: var(--lgray);
}
.title {
    color: #ffffff !important;
    font: var(--title-font);
}
.subtitle {
    font: var(--subtitle-font-regular);
    text-decoration: none;
}
.footer-link {
    color: #ffffff !important;
}
.footer-data {
    padding: 0 70px;
    display: flex;
    justify-items: auto;
}
.contact-us {
    flex: 1;
    text-align: center;
    justify-content: center;
    margin: 20px;
}


.quick-links {
    flex: 1;
    /* display: flex; */
    text-align: center;
    justify-content: center;
    margin: 20px;
}



/* Scroll Bar */
::-webkit-scrollbar {
    width: 6px;
    /* To Hide Scroll Bar UnComment the below line */
    /* display: none;  */
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #2f3136; 
    border-radius: .200em;    
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #232529;
    border-radius: .200em;
    border: 2px #232529;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #485fc7; 
}

/* Mobile Screen Responsiveness - Navbar */
@media screen and (max-width: 1023px){
    .navbar-start{
        text-align: center;
    }
    .navbar-end {
        display: flex;
        justify-content: center;
    }
    .navbar-end a{
        display: inline-flex;
    }
    .footer-data {
        display: block;
        padding: 30px;
    }
}